.cardWrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid #1a1a1a;
  padding: 10px;
  height: 84px;
  width: 55px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.cardWrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.5);
}

.suit {
  margin-bottom: 10px;
}

.cardValue {
  font-size: 22px;
  font-weight: 600;
}
