.cardWrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid #1a1a1a;
  padding: 10px;
  height: 60px;
  width: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.suit {
  margin-bottom: 10px;
}

.cardValue {
  font-size: 18px;
  font-weight: 500;
}
