.playerTitle {
  font-size: 18px;
  font-weight: 500;
}

.cardArea {
  display: flex;
  gap: 10px;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
